*{
    margin: 0;
    padding: 0;
    font-size: 40px;
}
main {
    padding: 30px;
}
body {
    front-family: Arial, Helvetica, sans-sherif;
    line-height:1.6;
    background-color: #0000000;
    color: ;
}           
header {
    color: #fff4d5;
    padding: 15px;
    text-align: left;
    border: white 1px;
    border-radius: 1px;    
    background-color: #2d2d2d;
}
h1 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 100px;
    
   
}
section {
    width: 100%;
}
button {
    padding: 2px;
    margin: 10px;
    background-color: ash;
    color: #745b00ea;
    font-size: 2px;
}
button_un {
    margin-left: 20px;
    background-color: ash;
    color: #745b00ea;
    padding: 5px;
    
}

footer {
    background: #2d2d2d;
    text-align: center;
    color: #fff4d5;
    padding: 20px;
    margin-top: 15px;
}
h3 {
  text-align: center;
  margin-top: 30px;
}
form {
    padding: 20px;
    margin: 20px;
}
input {
    margin-down: 20px;
    margin-left: 0px;
}
label {
    margin-right: 10px;
}